body{
	background-color: aliceblue;
}
a{
	text-decoration: none;
	color: white;
	background-color: hotpink;
	border-radius: 4px;
}
.box{
	width: 70%;
	height: 600px;
	background-color: aqua;
	margin: 40px auto;
}